<ion-content class="common-bg">
    <!-- App settings-->
    <ion-item-group *ngIf="IsLoaded">
        <ion-item-divider color="secondary" class="bold">Product Detail</ion-item-divider>
        <ion-grid>
            <form [formGroup]="rejectionForm" (ngSubmit)="saveData()">
                <ion-row>
                    <ion-col col-6>
                        <ion-item>
                            <ion-label>Lines</ion-label>
                            <ionic-selectable item-content formControlName="lineId" itemValueField="lineId"
                                itemTextField="lineName" [items]="linesList" [canSearch]="true">
                            </ionic-selectable>
                        </ion-item>
                        <validation-message [control]="rejectionForm.get('lineId')"></validation-message>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item>
                            <ion-label>Area</ion-label>

                            <ionic-selectable item-content formControlName="areaId" itemValueField="areaId"
                                itemTextField="areaName" [items]="areasList" [canSearch]="true">
                            </ionic-selectable>
                        </ion-item>
                        <validation-message [control]="rejectionForm.get('areaId')"></validation-message>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-6>
                        <ion-item>
                            <ion-label>Supervisor A</ion-label>
                            <ionic-selectable item-content formControlName="supervisorA" itemValueField="supervisorId"
                                itemTextField="supervisorName" [items]="supervisorList" [canSearch]="true">
                            </ionic-selectable>
                        </ion-item>
                        <validation-message [control]="rejectionForm.get('supervisorA')"></validation-message>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item>
                            <ion-label>Positions</ion-label>

                            <ionic-selectable item-content formControlName="positionId" itemValueField="positionId"
                                itemTextField="positionName" [items]="positionList" [canSearch]="true">
                            </ionic-selectable>
                        </ion-item>
                        <validation-message [control]="rejectionForm.get('positionId')"></validation-message>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-6>
                        <ion-item>
                            <ion-label>Supervisor B</ion-label>
                            <ionic-selectable item-content formControlName="supervisorB" itemValueField="supervisorId"
                                itemTextField="supervisorName" [items]="supervisorList" [canSearch]="true">
                            </ionic-selectable>
                        </ion-item>
                        <validation-message [control]="rejectionForm.get('supervisorB')"></validation-message>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item>
                            <ion-label>No of Shift</ion-label>
                            <ion-select formControlName="noOfshift" cancelText="Cancel" okText="OK">
                                <ion-option value="2">2</ion-option>
                                <ion-option value="3">3</ion-option>
                            </ion-select>
                        </ion-item>
                        <validation-message [control]="rejectionForm.get('noOfshift')"></validation-message>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-6>
                        <ion-item>
                            <ion-label>Supervisor C</ion-label>
                            <ionic-selectable [disabled]="rejectionForm.get('noOfshift').value==2" item-content
                                formControlName="supervisorC" itemValueField="supervisorId" itemTextField="supervisorName"
                                [items]="supervisorList" [canSearch]="true">
                            </ionic-selectable>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item>
                            <ion-label>Shift</ion-label>
                            <ion-select formControlName="shift" cancelText="Cancel" okText="OK">
                                <ion-option value="{{item.Id}}" *ngFor="let item of shiftList;">{{item.text}}</ion-option>
                            </ion-select>

                        </ion-item>
                        <validation-message [control]="rejectionForm.get('shift')"></validation-message>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-6>
                        <ion-item>
                            <ion-label>Time Slot</ion-label>
                            <ion-select formControlName="timeSlot" cancelText="Cancel" okText="OK">
                                <ion-option value="12:00-1:00Am">12:00 - 1:00 Am</ion-option>
                                <ion-option value="1:00-2:00Am">1:00 - 2:00 Am</ion-option>
                                <ion-option value="2:00-3:00Am">2:00 - 3:00 Am</ion-option>
                                <ion-option value="3:00-4:00Am">3:00 - 4:00 Am</ion-option>
                                <ion-option value="4:00-5:00Am">4:00 - 5:00 Am</ion-option>
                                <ion-option value="5:00-6:00Am">5:00 - 6:00 Am</ion-option>
                                <ion-option value="6:00-7:00Am">6:00 - 7:00 Am</ion-option>
                                <ion-option value="7:00-8:00Am">7:00 - 8:00 Am</ion-option>
                                <ion-option value="8:00-9:00Am">8:00 - 9:00 Am</ion-option>
                                <ion-option value="9:00-10:00Am">9:00 - 10:00 Am</ion-option>
                                <ion-option value="10:00-11:00Am">10:00 - 11:00 Am</ion-option>
                                <ion-option value="11:00-12:00Am">11:00 - 12:00 Am</ion-option>
                                <ion-option value="12:00-1:00Pm">12:00 - 1:00 Pm</ion-option>
                                <ion-option value="1:00-2:00Pm">1:00 - 2:00 Pm</ion-option>
                                <ion-option value="2:00-3:00Pm">2:00 - 3:00 Pm</ion-option>
                                <ion-option value="3:00-4:00Pm">3:00 - 4:00 Pm</ion-option>
                                <ion-option value="4:00-5:00Pm">4:00 - 5:00 Pm</ion-option>
                                <ion-option value="5:00-6:00Pm">5:00 - 6:00 Pm</ion-option>
                                <ion-option value="6:00-7:00Pm">6:00 - 7:00 Pm</ion-option>
                                <ion-option value="7:00-8:00Pm">7:00 - 8:00 Pm</ion-option>
                                <ion-option value="8:00-9:00Pm">8:00 - 9:00 Pm</ion-option>
                                <ion-option value="9:00-10:00Pm">9:00 - 10:00 Pm</ion-option>
                                <ion-option value="10:00-11:00Pm">10:00 - 11:00 Pm</ion-option>
                                <ion-option value="11:00-12:00Pm">11:00 - 12:00 Pm</ion-option>
                            </ion-select>
                        </ion-item>
                        <validation-message [control]="rejectionForm.get('timeSlot')"></validation-message>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item>
                            <ion-label>Date</ion-label>
                            <ion-datetime formControlName="entryDate" max="2020-10-31" pickerFormat="MM/DD/YYYY"
                                displayFormat="MMMM/DD/YYYY"></ion-datetime>
                        </ion-item>
                        <validation-message [control]="rejectionForm.get('entryDate')"></validation-message>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="rejectionForm.get('rejections').controls.length>0">
                    <ion-col>
                        <ion-card style=" border-radius: 0;" formArrayName="rejections">
                            <ion-card-content>
                                <ion-row>
                                    <ion-col *ngFor="let item of rejectionForm.get('rejections').controls; let i=index">
                                        <ng-container [formGroupName]="i">
                                            <ion-item>
                                                <ion-label floating>{{rejectionList[i].rejectionName}}</ion-label>
                                                <ion-input type="text" formControlName="name"></ion-input>
                                            </ion-item>
                                        </ng-container>
                                    </ion-col>
                                </ion-row>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
                <br><br>
                <ion-row>
                    <ion-col>
                        <button type="submit" [disabled]="!rejectionForm.valid" ion-button block color="primary">Submit
                        </button>
                    </ion-col>
                    <ion-col>
                        <button ion-button block color="danger" type="button" (click)="resetForm()">Reset</button>
                    </ion-col>
                </ion-row>
            </form>
        </ion-grid>

    </ion-item-group>

</ion-content>