page-production {
  .rad-container {
    display: flex;
  }
  .rad-container .item-inner {
    border-bottom: none !important;
  }
  ion-content {
    background-color: #fff;
    padding: 15px;
  }

  .rad .rad-icon {
    visibility: visible !important;
  }

  .rad .rad-icon:before {
    content: "" !important;
    border: 2px solid black !important;
    width: 24px !important;
    height: 24px !important;
    border-radius: 50% !important;
    overflow: hidden !important;
  }

  .rad .rad-icon:after {
    content: "" !important;
    position: absolute !important;
    right: 20px !important;
    top: 22px !important;
    background: black !important;
    width: 12px !important;
    height: 12px !important;
    border-radius: 50% !important;
    overflow: hidden !important;
    transition: -webkit-transform 0.28s cubic-bezier(0.42, 0, 0, 1.65);
    transition: transform 0.28s cubic-bezier(0.42, 0, 0, 1.65);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  .rad.item-radio > input[type="radio"]:checked ~ .rad-icon:after {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  .rad .item-content {
    background-color: #fff;
    margin: 0;
    padding-right: 50px;
    padding-left: 0px;
  }

  .rad.item-radio > input[type="radio"]:checked ~ .item-content {
    background-color: #fff;
  }

  .rad-inline.item {
    display: inline-block;
    border: none;
    margin: 0;
    height: 50px;
  }

  .rad-blue .rad-icon:after {
    background: #2196f3 !important;
  }

  .rad-blue .rad-icon:before {
    border-color: #2196f3 !important;
  }
}
